:root {
    font-family: 'Lato';
}
body {
    padding: 0px;
    margin: 0px;
}
.header {
    background-color: #2e81b8;
    color: white;
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.title {
    font-weight: bold;
    font-size: 31px;
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#emoticon {
    height: 40px;
    width: 40px;
    margin-right: 13px;
}
.headerButton, .selectedHeaderButton {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    z-index: 2;
    transition: 0.4s;
}
.headerButton {
    background-color: #ffd268;
}
.selectedHeaderButton {
    background-color: #dea115
}
.headerButton:hover {
    background-color: #daa52a;
}
.selectedHeaderButton:hover {
    background-color: #c7900f;
}
h1 {
    display: flex;
    justify-content: center;
}
p, .name {
    font-size: 20px;
}
.paddingContainer {
    padding: 20px 15%;
}
#shownUpload {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    padding: 10px 14px;
    font-size: 15px;
    color: white;
    margin: 10px;
    margin-left: 45px;
    border-radius: 5px;
    background-color: #1184d1;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    transition: 0.4s;
}
#shownUpload:hover {
    background-color: #054ea1;
}
#about {
    opacity: 0;
    transform: translateY(50px);
    transition: all;
    transition-duration: 0.9s;
}